<!DOCTYPE HTML>
<html lang = "en">

<head>
    <meta charset="utf-8"/>
    <title>Task Manager</title>

    <script src = "https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src = "../client_resources/jquery-dropdate.js"></script>
    <script src = "../client_resources/date.format.js"></script>
    <script type = "text/javascript" src = "../index.js"></script>
</head>

<body>
    <script id = "main_form" type = "html/text">
        <li>
            <div class = "task_container">
                <div class = "update_container">
                    <div class = "update_form_container">
                        <form class = "update_form" action = "/tasks/" method = "PUT" accept-charset = "utf-8"
                        enctype="application/x-www-form-urlencoded" autocomplete = "off" name = task_form novalidate>
                            <div class = "form_group description">
                                <input id = "task" data-id = {{id}} class = "task_description" type = "text" name = "task_description" maxlength = "60"
                                size = "60" value = "{{description}}" disabled>
                            </div>

                            <div class = "form_group date">
                                <label for  = "target_date">Finish by:</label>
                                <input class = "target_date dropdate" type = "text" name = target_date value = {{targetDate}} disabled>
                            </div>
                        </form>
                    </div>
                    <div class = button_group>
                        <div class = "checkbox">
                            <input id = "{{id}}" data-id = '{{id}}' class = 'status' name = 'status' type = 'checkbox'>
                        </div>

                        <div class = "button">
                            <button data-id = '{{id}}' class = 'remove'>X</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </script>
</body>

</html>