/*----------------------------------------------------- GENERAL ------------------------------------------------------*/
html{
    height: 100%;
    width: 100%;
    font-family: 'nexa_lightregular', 'nexa_boldregular', 'geometria_lightlight', "HelveticaNeue-Light",
                  "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button, .checkbox{
    display: inline-block;
    position: relative;
}

ul{
    list-style-type: none;
}

/*----------------------------------------------------- INDEX ---------------------------------------------------------*/
#main_container{
    border: solid black 1px;
}

#task_list_container{
    display: block;
    position: relative;
    margin: 0 auto;
    height: auto;
    width: 85%;
    border: 1px solid red;
}

#task_form{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    border: solid purple 1px;
}

.form_group{
    display: inline;
    position: relative;
}

/*-------------------------------------------------- TASK LIST -------------------------------------------------------*/
.task_container{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: solid green 1px;
}

.update_container{
    display: inline-block;
    position: relative;

    height: 100%;
    width: auto;
}

.update_form, .button_group{
    display: inline-block;
    position: relative;
}

.button_group{
    display: inline-block;
    border-radius: 15vw;
    border: solid black 1px;
    background-color: orange;
}